@import '../../colours.scss';

.merch-store-section {
  display: flex;
  justify-content: center;
  padding: 3em;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.merch-cta {
  margin-top: 1em;
  background-color: white;
  padding: 1em;
  border-radius: 10px;
  transition: all 0.2s ease;
  &:hover {
    background-color: darken(white, 5%);
  }
  a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  p {
    color: $dark;
    font-weight: bold;
  }
  i {
    margin-left: 1em;
    color: $primary;
    font-size: 1.5rem;
  }
}