.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  div {
    margin: 0.5em;
  }
}

#latestVideo {
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  > div {
    width: 100%;
    max-width: 640px;
    display: flex;
    
      iframe {
        width: 100% !important;
        max-width: 640px;
        max-height: 360px;
        margin-left: auto;
        margin-right: auto;
      }
    
  }
}