@import '../../colours.scss';

.navbar-list {
  display: flex;
  align-items: center;
}

.navbar-item {
  margin: 0.5em;
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  
  transition: all 0.2s ease;

  &:not(:last-child) {
    opacity: 0.5;
  }
  &:hover {
    color: $primary;
    opacity: 1;
  }
}