@import '../../colours.scss';

.navbar-list {
  display: flex;
  align-items: center;
}

.navbar-item {
  margin: 0.5em;
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  
  transition: all 0.2s ease;

  &:not(:last-child) {
    opacity: 0.5;
  }
  &:hover {
    color: $primary;
    opacity: 1;
  }
}

.navbar-item .active {
  color: $primary;
  opacity: 1;
}

.mobile-toggle {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 30px;
  position: absolute;
  right:2em;
  top: 2.5em;
  z-index: 2;
}
.line {
  display: flex;
  background-color: white;
  height: 3px;
  width: 100%;
  
  &:nth-child(2) {
    margin: 7px 0;
  }
}
.extended {
  display: flex !important;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: rgba(black, 0.9);
  margin: 0;
  .navbar-item {
    margin: 1em 0;
  }
}

@media screen and (max-width: 892px) {
  .navbar-list {
    display: none;
  }
}

@media screen and (min-width: 893px) {
  .mobile-toggle {
    display: none;
  }
}