@import '../../colours.scss';

.thanks-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;

  .styled-title {
    color: $primary;
    font-size: 9em ;
    text-align: center;
    letter-spacing: 7px;
  }

  .avatar {
    position: absolute;
    bottom: -110px;
    width: 900px;
  }
}

.back-link {
  color: white;
}
@media screen and (max-width: 1262px) {
  .thanks-wrapper {
    .styled-title {
      font-size: 10vw;
    }
  }
}