@import '../../colours.scss';

.thanks-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  justify-content: space-between;

  .styled-title {
    color: $primary;
    font-size: 9em ;
    text-align: center;
    letter-spacing: 7px;
    margin-top: 2em;
  }

  .avatar {
    transform: translateY(110px);

    width: 900px;
  }
}

.back-link {
  color: white;
}

@media screen and (max-width: 618px){
  .thanks-wrapper {
    .styled-title {
      font-size: 10vw;
    }
  }
}