@import '../../colours.scss';

.brand {
  color: $white;
}

.header {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $light-dark;
  padding: 1em 2em;
  background-color: rgba($dark, 0.5);
}