@import '../../colours.scss';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.phrase {
  font-size: 4rem;
  color: white;
  margin: 1em 0;
}